/* Write your CSS here */
.cart-summary-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .cart-summary-container {
    width: 300px;
    align-self: flex-end;
  }
}
.cart-summary-container1 {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
@media screen and (min-width: 768px) {
  .cart-summary-container1 {
    align-self: flex-start;
  }
}
.cart-summary-total-style {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .cart-summary-total-style {
    font-size: 27px;
  }
}
.cart-summary-count-style {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  margin-top: 0px;
}
@media screen and (min-width: 768px) {
  .cart-summary-count-style {
    font-size: 17px;
  }
}
.cart-summary-total-style1 {
  color: #171f46;
}
.cart-summary-button-style {
  background-color: #0b69ff;
  height: 40px;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .cart-summary-button-style {
    font-size: 17px;
  }
}
